@model DashboardViewModel
@* @{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
} *@

<i>
    <h3 style="color:blue">Admin Dashboard</h3>
</i>
@* @if (Model != null)
{
    <div class="row">

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Teachers</h5>
                <h2 id="teacherCount">@Model.TeacherCount</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Students</h5>
                <h2 id="studentCount">@Model.StudentCount</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow">
                <h5>Total Subjects</h5>
                <h2 id="subjectCount">@Model.SubjectCount</h2>
            </div>
        </div>

    </div>
} *@
<div class="row">
<div class="col-md-4">
    <div class="card p-3 shadow">
        <h5>Total Teachers</h5>
        <h2 id="teacherCount"></h2>
    </div>
</div>

<div class="col-md-4">
    <div class="card p-3 shadow">
        <h5>Total Students</h5>
        <h2 id="studentCount"></h2>
    </div>
</div>

<div class="col-md-4">
    <div class="card p-3 shadow">
        <h5>Total Subjects</h5>
        <h2 id="subjectCount"></h2>
    </div>
</div>
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Export PDF</h5>
            <a href="/Admin/ExportFullReportPdf" class="btn btn-success">
                <i class="fa fa-file-pdf"></i> Export PDF
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Export Excel File</h5>
            <a href="/Admin/ExportFullReportExcel" class="btn btn-success">
                <i class="fa fa-file-pdf"></i> Export Excel
            </a>
        </div>
    </div>
</div>
<script>
    function GetDashboardCount(){
        $.get("/Admin/GetDashboardCount",function(res){
            $("#teacherCount").text(res.teacherCount);
             $("#studentCount").text(res.studentCount);
              $("#subjectCount").text(res.subjectCount);
              $("#subject").text(res.subjectCount);
        })
    }
  GetDashboardCount();
</script>