<h3>All Students</h3>
<input type="text" id="studentSearch"
       placeholder="Search by name or email"
       style="margin-bottom:10px; padding:6px; width:250px;" />

<div id="studentContainer">
    Loading....
</div>
<div id="modalContainer"></div>
<script>
    $(function () {
        LoadStudents();
    });

    function LoadStudents(searchText="") {
        $.get("/Admin/LoadStudentsBySearch",{search:searchText}, function (res) {
            $("#studentContainer").html(res);
        });
    }
    let searchTimer=null;
    $("#studentSearch").on("keyup",function(){
        clearTimeout(searchTimer);
        let text=$(this).val();
        searchTimer=setTimeout(function(){
            LoadStudents(text);

        },400);
    });
    function deleteStudent(id) {
        
        if (confirm("Are you sure to delete this user?")) {
            $.post("/Admin/DeleteStudent", { id: id }, function (res) {
                alert(res.message);
                if (res.success) {
                    LoadStudents();
                }
            });
        }
    }
    function editStudent(id){
        $.get("/Admin/EditStudent?id="+id,function(res){
            $("#modalContainer").html(res);
            LoadStudents();
        })
    }
</script>