@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-flex justify-content-between align-items-center mb-4">
<h4>All Subjects</h4>
    <input type="text" id="subjectSearch" class="form-control w-25"
           placeholder=" 🔍 Search by Subject Name"
       @* style="margin-bottom:10px; padding:6px; width:250px;" /> *@/>
<button class="btn btn-primary mb-3" onclick="openAddSubject()" style="margin-top:10px">Add Subject</button>
</div>
<div class="card teacher-card">
    <div class="card-body">
        <div id="subjectContainer" class="text-center py-4 text-muted">
    Loading......
</div>
<div id="modalContainer"></div>
<script>
    // use the jQuery shorthand to avoid deprecated $(document).ready(...)
    $(function () {
        LoadSubjects();
    });

    function LoadSubjects(searchText="",page=1){
        let currentPageSize=$("#pageSize").val()||3
        $.get("/Admin/LoadSubjects",{search:searchText,page:page,pageSize:currentPageSize},function(res){
            $("#subjectContainer").html(res);
        });
    }
     $("#subjectSearch").on("keyup",function(){
        let text=$(this).val();
        LoadSubjects(text,1);
    })
    function openAddSubject(){
        $.get("/Admin/AddSubjects",function(res){
            console.log(res);
            $("#modalContainer").html(res);
        });
    }
    function editSubject(id){
        $.get("/Admin/EditSubject",{ id: id },function(res){
            console.log(res);
            $("#modalContainer").html(res);
            LoadSubjects(text,1);
            
        })
    }
        function deleteSubject(id)
    {
        if (confirm("Are you sure you want to delete this subject?"))
        {
            $.post("/Admin/DeleteSubject", { id: id }, function (res) {

                alert(res.message);

                if (res.success)
                {
                    LoadSubjects();
                }

            });
        }
    }
</script>