<h1>Welcome To Your Profile</h1>
<div id="profileContainer">

</div>
<div id="modalContainer"></div>
@section Scripts{
    <script>
      $(document).ready(function(){
          loadProfile();
      });
      function loadProfile(){
            $("#profileContainer").load("/Teacher/TeacherProfileCard");
      }
           $(function(){
            loadProfile();
        });
        function editTeacher(id){
            $.get("/Teacher/EditProfile",{id:id},function(res){
                $("#modalContainer").html(res);
                loadProfile();
            })
        }
    </script>
}