<h2>Your Marks</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
      
            @* <th>Name</th>
            <th>Roll Number</th> *@
            <th>Subject</th>
            <th>Marks</th>
            @* <th>Total Marks</th> *@
        </tr>
     
    </thead>
   
    <tbody id="studentTable"></tbody>

</table>
@* <div id="marksModal"></div> *@
@section Scripts {
    <script>
        $(document).ready(function(){
            loadStudents();
        });
        function loadStudents(){
            $("#studentTable").load("/Student/StudentMarksPartial");

        }
        // function openMarks(studentUserId){
        //     alert("Button Clicked");
        //     $.get("/Teacher/AssignMarks",{studentUserId:studentUserId},function(res){
        //         $("#marksModal").html(res);

        //     });
        // }
    </script>
}